body {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
  background-color: #333333;
}

.cubo {
  position: relative;
  width: 300px;
  aspect-ratio: 1;
  perspective: 20000px;
  perspective-origin: center;
  transform-style: preserve-3d;
  animation: cube-rotation linear 20s infinite;
}

@keyframes cube-rotation {
  0% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
  25% {
    transform: rotateX(1turn) rotateY(0) rotateZ(0);
  }
  50% {
    transform: rotateX(1turn) rotateY(1turn) rotateZ(0);
  }
  75% {
    transform: rotateX(1turn) rotateY(1turn) rotateZ(1turn);
  }
  100% {
    transform: rotateX(0) rotateY(0) rotateZ(0);
  }
}

.cubo div {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: white;
  font-size: 5em;
}

.face-1 {
  background-color: yellow;
}

.face-2 {
  background-color: lime;
}

.face-3 {
  background-color: cyan;
}

.face-4 {
  background-color: blue;
}

.face-5 {
  background-color: magenta;
}

.face-6 {
  background-color: red;
}

.face-1 {
  transform: translateZ(150px);
}

.face-2 {
  transform: translate3D(-150px, 0, 0) rotateY(-90deg);
}

.face-3 {
  transform: translate3D(0, 0, -150px) rotateY(180deg);
}

.face-4 {
  transform: translate3D(150px, 0, 0) rotateY(90deg);
}

.face-5 {
  transform: translate3D(0, -150px, 0) rotateX(90deg);
}

.face-6 {
  transform: translate3D(0, 150px, 0) rotateX(-90deg);
}
