:root {
  --color-1: black;
  --color-2: white;
}

body {
  display: grid;
  grid-template: {
    columns: repeat(2, 1fr);
  };
  height: 100vh;
  margin: 0;
}

div {
  &:first-of-type {
    background-image: linear-gradient(var(--color-1), var(--color-2));
  }

  &:nth-of-type(2) {
    background-image: linear-gradient(var(--color-1) 0, var(--color-1) 50%, var(--color-2) 50%, var(--color-2) 100%);
  }

  &:nth-of-type(3) {
    background-image: repeating-linear-gradient(var(--color-1) 0, var(--color-2) 10%);
  }

  &:last-of-type {
    background-image: repeating-linear-gradient(var(--color-1) 0, var(--color-1) 5%, var(--color-2) 5%, var(--color-2) 10%)
  }
}